<!DOCTYPE html>
<html ng-app="myapp">

<head>
    <meta charset="utf-8">
    <title>AngularJS: UI-Router Quick Start</title>
    <!-- Bootstrap CSS -->
    <!-- <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="/node_modules/test/bootstrap.css" rel="stylesheet">
</head>

<body class="container">
    <div ui-view></div>
    <!-- jQuery -->
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <!-- Angular -->
    <script src="/node_modules/angular/angular.js"></script>
    <!-- UI-Router -->
    <script src="/vendor/angular/angular-ui-router/angular-ui-router.js"></script>
    <!-- App Script -->
    <script>
    var myapp = angular.module('myapp', ["ui.router"])
    myapp.config(function($stateProvider, $urlRouterProvider) {

        // For any unmatched url, send to /route1
        $urlRouterProvider.otherwise("/wc")

        $stateProvider
            .state('wc', {
                url: "/wc",
                // abstract:　true,
                templateUrl: "/views/route.html",
                controller: 'tabDemoCtrl',
            })
            .state('wc.tab', {
                url: '/tab',
                resolve: {

                },
                views: {
                    'menu1': {
                        templateProvider: function($templateCache) {
                            return $templateCache.get('route1.html')
                        },
                        controller: 'menu1Ctrl'
                    },
                    'menu2': {
                        templateProvider: function($templateCache) {
                            return $templateCache.get('route2.html')
                        },
                        controller: 'menu2Ctrl'
                    },
                    'menu3': {
                        templateProvider: function($templateCache) {
                            return $templateCache.get('route3.html')
                        },
                        controller: 'menu3Ctrl'
                    },
                    'menu4': {
                        templateProvider: function($templateCache) {
                            return $templateCache.get('route4.html')
                        },
                        controller: 'menu4Ctrl'
                    },
                    'menu5': {
                        templateProvider: function($templateCache) {
                            return $templateCache.get('route5.html')
                        },
                        controller: 'menu5Ctrl'
                    }
                }
            })
    });
    myapp.controller('tabDemoCtrl', ['$scope', '$http', function($scope, $http) {
        $scope.id;
        $scope.tapItems = [];
        $scope.refresh;
        $scope.model = {};
        $scope.ifShow = function(data, evt) {
            $scope.id = data.id;
            // $scope.refresh();
        }
        $scope.closeTab = function(data, index) {
            $scope.tapItems.splice(index, 1);
        }
        $scope.chaceItem = function(data, evt) {
            if ($.inArray(data, $scope.tapItems) === -1) {
                $scope.ifShow(data, evt);
                $scope.tapItems.push(data);
            };
        }
        $scope.refresh = function() {
            $http({
                method: 'GET',
                url: 'http://trirand.com/blog/phpjqgrid/examples/jsonp/getjsonp.php?callback=?&qwery=longorders',
                headers: {
                    // SessionId: sessionStorage.getItem("SessionID")
                },
                params: '',
                data: ''
            }).success(function(data) {
                $scope.model.test = data
            }).error(function(data) {})
        }
        $scope.Routes = [{
            id: 　 "1",
            menu: "menu1",
            herf: ""
        }, {
            id: 　 "2",
            menu: "menu2",
            herf: ""
        }, {
            id: 　 "3",
            menu: "menu3",
            herf: ""
        }, {
            id: 　 "4",
            menu: "menu4",
            herf: ""
        }, {
            id: 　 "5",
            menu: "menu5",
            herf: ""
        }]
    }]);
    myapp.directive('iscstab', ['$scope', function($scope) {
        return {
            restrict: 'E',
            template: function() {
                var html = '<h2>test</h2>';
                return html;
            },
            link: function(scope, iElement, iAttrs) {}
        };
    }]);
    myapp.controller('menu1Ctrl', ['$scope', function($scope) {

    }])
    myapp.controller('menu2Ctrl', ['$scope', function($scope) {

    }])
    myapp.controller('menu3Ctrl', ['$scope', function($scope) {

    }])
    myapp.controller('menu4Ctrl', ['$scope', function($scope) {

    }])
    myapp.controller('menu5Ctrl', ['$scope', function($scope) {

    }])
    </script>
    <script type="text/ng-template" id="route1.html">
        <h2>route1</h2>
        <input type="text" ng-model="model.test">
    </script>
    <script type="text/ng-template" id="route2.html">
        <h2>route2</h2>
        <input type="text" ng-model="model.test">
    </script>
    <script type="text/ng-template" id="route3.html">
        <h2>route3</h2>
        <input type="text" ng-model="model.test">
    </script>
    <script type="text/ng-template" id="route4.html">
        <h2>route4</h2>
        <input type="text" ng-model="model.test">
    </script>
    <script type="text/ng-template" id="route5.html">
        <h2>route5</h2>
        <input type="text" ng-model="model.test">
    </script>
</body>

</html>
