<div class="container-fluid" ng-controller="tabDemoCtrl">
    <div class="row-fluid">
        <div class="span2">
            <!--Sidebar content-->
            <div class="col-md-4">
                <ul class="nav nav-tabs nav-stacked">
                    <li ng-repeat="route in Routes track by $index" role="presentation" class="active">
                        <a ng-bind="route.menu" ng-click="chaceItem(route, $event)"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="span10">
            <!--Body content-->
            <ul class="nav nav-tabs">
                <li ng-repeat="tab in tapItems track by $index" role="presentation" class="active">
                    <i class="caret" ng-click="closeTab(tab, $index)"></i>
                    <a ng-bind="tab.menu" ng-click="ifShow(tab, $event)" ui-sref="wc.tab"></a>
                </li>
            </ul>
            <div ng-repeat="tab in tapItems track by $index" ng-show="id === tab.id">
                <div ui-view="{{tab.menu}}" class="well"></div>
            </div>
        </div>
    </div>
</div>
