<div>
<script type="text/ng-template" id="route1.html">
    <h2>route1</h2>
    <input type="text" ng-model="model.test1">
</script>
<script type="text/ng-template" id="route2.html">
    <h2>route2</h2>
    <input type="text" ng-model="model.test2">
</script>
<script type="text/ng-template" id="route3.html">
    <h2>route3</h2>
    <input type="text" ng-model="model.test3">
</script>
<script type="text/ng-template" id="route4.html">
    <h2>route4</h2>
    <input type="text" ng-model="model.test4">
</script>
<script type="text/ng-template" id="route5.html">
    <h2>route5</h2>
    <input type="text" ng-model="model.test5">
</script>
</div>